@{
  Layout = "_Layout";
}

<div class="container">
  @model Library.Models.Catalog
  
  <h2>Are you sure you want to delete this catalog??</h2>
  
  @Html.DisplayNameFor(model => model.CatalogName): @Html.DisplayFor(model => model.CatalogId)
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" />
  }
  @Html.ActionLink("Back to List", "Index")
</div>